body {
    font-family: Arial, sans-serif;
    background-color: #d1d1d1;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #a3d1ef;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;

}

.delete-button {
    display: inline-block;
    padding: 5px 15px;
    background-color: #832121;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #932a2a;
}

.post-actions {
    margin-top: 15px;
}

.update-button {
    display: inline-block;
    padding: 5px 15px;
    background-color: #3498db;  /* Changed to a clearer blue color */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.2s;  /* Added smooth transition */
}

.update-button:hover {
    background-color: #4c90bd;  /* Darker blue on hover */
}

.like-button {
    display: inline-block;
    padding: 5px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.2s;
}

.like-button:hover {
    background-color: #4c90bd;
}

.like-count {
    font-weight: bold;
    margin-right: 2px;
}

.add-post-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7a7a7a;  /* Green color */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    transition: background-color 0.2s;
}

.add-post-button:hover {
    background-color: #878787;
}
